body{
    font-family: 'Roboto', sans-serif;
    color: #575757;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}
h1{
    font-size: 76px;
    font-weight: 900;
}
h2{
    font-size: 50px;
    font-weight: 700;
}

.all-section{
    display: flex;
    padding: 100px 5%;

}
.half-width{
    width: 50%;
    padding-left: 3%;
}

/* This is Welcome section.*/
.welcome-section{
    background-image: url(images/welcome-bg.jpg);
    background-size: cover;
    background-position: center center;
    height: 450px;
}
.welcome-img{
    background-image: url(images/welcome-img.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    border: 12px solid #FC8F49;
}
.welcome-tag{
    line-height: 1.5;
}

/* This is home page hero area*/
.skip-color{
    color: #FC8F49;
}
.half-width p{
    margin-bottom: 70px;
    line-height: 1.5;
}
.link-button{
    padding: 18px 40px;
    border-radius: 70px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient( to right,#FC8F49,#FD4D30);   
}
.hero-image img{
    width: 70%;
    height: 80%;
    border-radius: 70px;
    background-image: linear-gradient(#FD4D30,#FC8F49);
}

/* This is about section */

#about-section{
    background-image: url(images/about-bg-image.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 150px 0;
    margin-left: 0;
}

/* This is about section */

.recipie-section p {
    text-align: center;
}

.recipie-item{
    display: flex;
}